/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 23, 2021, 8:52:02 AM
    Author     : User
*/

.footer {
    height: 50px;
    width: 100%;
    background-color: #303030;
    /*position: absolute;*/
    /*bottom: 0;*/
}

.footer-content {
    width: 60%;
    margin: 0 auto;
    display: flex;
}

.footer-content p {
    padding-top: 10px;
    font-size: 14px;
}

.footer-content p a {
    color:#f0edef;
    text-decoration: underline;
}

.footer-content .button{
    margin-left: 70%;
    margin-top: 10px;
}