/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 22, 2021, 10:57:04 PM
    Author     : User
*/

.pre-header{
    height: 30px;
    background-color: #303030;
}
.pre-header-content {
    width: 60%;
    margin: 0 auto;
}
.pre-header-content ul{
    list-style: none;
    padding-top: 5px;
    padding-left: 0px;
    display: flex;
}
.pre-header-content ul li a{
    border-left:1px solid #ffff29;
    color:#f0edef;
    font-family: sans-serif;
    font-size: 10px;
    padding: 0 6px;
}

.font-bold {
    font-weight: bold;
}

.header {
    height: 80px;
    padding: 10px 0;
    background-color: #722f31;   
}

.header-content {
    display: flex;
    width: 60%;
    margin: 0 auto;
}

.header-content img {
    width: 65px;
    height:55px;
    background-size: cover;
}

.header-content .app-title {
    margin-left: 10px;
}

.header-content .app-title .app-name a{
    font-size: 27px;
    color:#f0edef;
}

.header-content .app-title .app-welcome{
    color:#f0edef;
}